@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
  overflow-y: scroll;
}

@theme {
  --animate-beat: fade-in-down 2s ease-out;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}